div.wlby_movie
{
	background-color: #000000;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 480px;
	height: 640px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_82 {
from, 60% {
	-webkit-transform: matrix(1, 0, 0, 1, -300.593, -125.253) rotate(-13.053deg) scale(0.9993, 0.9993);
	-webkit-transform-origin: 424.65px 230.3px;
}
60.01%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -300.6, -125.3) rotate(0deg) scale(1, 1);
	-webkit-transform-origin: 424.65px 230.35px;
}
}
@-webkit-keyframes wlby_KF_66 {
from, 70% {
	-webkit-transform: matrix(1, 0, 0, 1, -27.6, -14.15) scale(1, 0.961);
}
70.01%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -27.6, -13.65) scale(1, 1);
}
}
@-webkit-keyframes wlby_KF_51 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
	opacity: 0;
}
75% {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
	opacity: 1;
}
75.01%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
}
}
@-webkit-keyframes wlby_KF_27 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -218.1, -198.9);
	opacity: 1;
}
5.88% {
	-webkit-transform: matrix(1, 0, 0, 1, -58.1, -42.9);
	opacity: 1;
}
5.89%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -58.1, -42.9);
}
}
@-webkit-keyframes wlby_KF_21 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 42.664, 315.638) rotate(-55.159deg) scale(1.1926, 1.1926);
	opacity: 1;
}
13.79% {
	-webkit-transform: matrix(1, 0, 0, 1, 42.664, 315.638) rotate(1024.841deg) scale(1.1926, 1.1926);
	opacity: 1;
}
13.8%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 42.664, 315.638) rotate(-55.159deg) scale(1.1926, 1.1926);
}
}
@-webkit-keyframes wlby_KF_24 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 402.693, 501.808) rotate(0deg) scale(2.1542, 2.1542);
	opacity: 1;
}
25% {
	-webkit-transform: matrix(1, 0, 0, 1, 402.693, 501.808) rotate(1080deg) scale(2.1542, 2.1542);
	opacity: 1;
}
25.01%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 402.693, 501.808) rotate(0deg) scale(2.1542, 2.1542);
}
}
@-webkit-keyframes wlby_KF_48 {
from, 69.23% {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
}
69.24% {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
	opacity: 1;
}
96.16%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_86 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 19.45, 22.3) scale(0.4468, 0.4468);
	opacity: 1;
}
33.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 19.45, 22.3) scale(1.1682, 1.1682);
	opacity: 1;
}
77.77% {
	-webkit-transform: matrix(1, 0, 0, 1, 19.45, 22.3) scale(0.7558, 0.7558);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 19.45, 22.3) scale(0.5116, 0.5116);
	opacity: 0;
}
}
@-webkit-keyframes wlby_KF_44 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 261.94, -92.882) rotate(-135deg) scale(0.4461, 0.4461);
	-webkit-transform-origin: 49.6px 46.4px;
	opacity: 1;
}
8.57% {
	-webkit-transform: matrix(1, 0, 0, 1, 393.972, -9.146) rotate(-59.999deg) scale(0.7453, 0.7453);
	-webkit-transform-origin: 49.6px 46.4px;
	opacity: 1;
}
8.58% {
	-webkit-transform: matrix(1, 0, 0, 1, 394.022, -9.396) rotate(-59.999deg) scale(0.7453, 0.7453);
	-webkit-transform-origin: 49.55px 46.65px;
	opacity: 1;
}
17.15% {
	-webkit-transform: matrix(1, 0, 0, 1, 362.5, 114.35) rotate(0deg) scale(1, 1);
	-webkit-transform-origin: 49.55px 46.65px;
	opacity: 1;
}
17.16%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 362.55, 114.5) rotate(0deg) scale(1, 1);
	-webkit-transform-origin: 49.5px 46.5px;
}
}
@-webkit-keyframes wlby_KF_8 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4) scale(1, 1);
	opacity: 1;
}
23.8% {
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4) scale(0.9175, 1);
	opacity: 1;
}
53.96% {
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4) scale(1, 1);
	opacity: 1;
}
77.77% {
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4) scale(0.9175, 1);
	opacity: 1;
}
98.41% {
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4) scale(1, 1);
	opacity: 1;
}
98.42%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4) scale(1, 1);
}
}
@-webkit-keyframes wlby_KF_4 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -30.1, 32.4) scale(1, 1);
	opacity: 1;
}
34.92% {
	-webkit-transform: matrix(1, 0, 0, 1, -30.102, 32.4) scale(0.9237, 1);
	opacity: 1;
}
57.14% {
	-webkit-transform: matrix(1, 0, 0, 1, -30.1, 32.4) scale(1, 1);
	opacity: 1;
}
74.6% {
	-webkit-transform: matrix(1, 0, 0, 1, -30.102, 32.4) scale(0.9237, 1);
	opacity: 1;
}
98.41% {
	-webkit-transform: matrix(1, 0, 0, 1, -30.1, 32.4) scale(1, 1);
	opacity: 1;
}
98.42%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -30.1, 32.4) scale(1, 1);
}
}
@-webkit-keyframes wlby_KF_62 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 68.65, -293.85);
	opacity: 1;
}
20% {
	-webkit-transform: matrix(1, 0, 0, 1, 61.65, -285.85);
	opacity: 1;
}
35% {
	-webkit-transform: matrix(1, 0, 0, 1, 68.65, -293.85);
	opacity: 1;
}
55% {
	-webkit-transform: matrix(1, 0, 0, 1, 61.65, -285.85);
	opacity: 1;
}
75% {
	-webkit-transform: matrix(1, 0, 0, 1, 68.65, -293.85);
	opacity: 1;
}
95% {
	-webkit-transform: matrix(1, 0, 0, 1, 61.65, -285.85);
	opacity: 1;
}
95.01%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 61.65, -285.85);
}
}
@-webkit-keyframes wlby_KF_18 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 635.1) scale(1, 1);
	opacity: 1;
}
8.77% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 383.742) scale(1, 0.9359);
	opacity: 1;
}
28.07% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 375.1) scale(1, 1);
	opacity: 1;
}
47.36% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 383.742) scale(1, 0.9359);
	opacity: 1;
}
66.66% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 375.1) scale(1, 1);
	opacity: 1;
}
84.21% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 383.742) scale(1, 0.9359);
	opacity: 1;
}
98.24% {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 375.1) scale(1, 1);
	opacity: 1;
}
98.25%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 375.1) scale(1, 1);
}
}
@-webkit-keyframes wlby_KF_13 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 475.15, 610.4);
	opacity: 1;
}
8.77% {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 287.8);
	opacity: 1;
}
28.07% {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 277.8);
	opacity: 1;
}
47.36% {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 287.8);
	opacity: 1;
}
66.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 277.8);
	opacity: 1;
}
84.21% {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 287.8);
	opacity: 1;
}
98.24% {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 277.8);
	opacity: 1;
}
98.25%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 277.8);
}
}
@-webkit-keyframes wlby_KF_58 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -357.5, 864.05);
	opacity: 1;
}
13.63% {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, 373.95);
	opacity: 1;
}
59.09% {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, 353.95);
	opacity: 1;
}
72.72% {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, 373.95);
	opacity: 1;
}
72.73%, 77.28% {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, 373.95);
}
77.29% {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, 353.95);
	opacity: 1;
}
95.47% {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, -270.2);
	opacity: 1;
}
95.48%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, -270.2);
}
}
@-webkit-keyframes wlby_KF_79 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 194.55, 103.4) scale(1, 1);
	-webkit-transform-origin: 22.45px 71.65px;
	opacity: 1;
}
20% {
	-webkit-transform: matrix(1, 0, 0, 1, 187.963, 103.4) scale(0.705, 1);
	-webkit-transform-origin: 22.45px 71.65px;
	opacity: 1;
}
20.01% {
	-webkit-transform: matrix(1, 0, 0, 1, 187.913, 103.4) scale(0.705, 1);
	-webkit-transform-origin: 22.5px 71.65px;
	opacity: 1;
}
45.01% {
	-webkit-transform: matrix(1, 0, 0, 1, 184.445, 103.4) scale(0.5521, 1);
	-webkit-transform-origin: 22.5px 71.65px;
	opacity: 1;
}
45.02% {
	-webkit-transform: matrix(1, 0, 0, 1, 184.495, 103.4) scale(0.5521, 1);
	-webkit-transform-origin: 22.45px 71.65px;
	opacity: 1;
}
70.02% {
	-webkit-transform: matrix(1, 0, 0, 1, 187.963, 103.4) scale(0.705, 1);
	-webkit-transform-origin: 22.45px 71.65px;
	opacity: 1;
}
70.03% {
	-webkit-transform: matrix(1, 0, 0, 1, 187.913, 103.4) scale(0.705, 1);
	-webkit-transform-origin: 22.5px 71.65px;
	opacity: 1;
}
95.03% {
	-webkit-transform: matrix(1, 0, 0, 1, 194.5, 103.4) scale(1, 1);
	-webkit-transform-origin: 22.5px 71.65px;
	opacity: 1;
}
95.04%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 194.55, 103.4) scale(1, 1);
	-webkit-transform-origin: 22.45px 71.65px;
}
}
@-webkit-keyframes wlby_KF_34 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -257.2, 576.05);
	opacity: 1;
}
5.88% {
	-webkit-transform: matrix(1, 0, 0, 1, -60.95, 400);
	opacity: 1;
}
15.68% {
	-webkit-transform: matrix(1, 0, 0, 1, -54.95, 394);
	opacity: 1;
}
31.37% {
	-webkit-transform: matrix(1, 0, 0, 1, -44.95, 384);
	opacity: 1;
}
47.05% {
	-webkit-transform: matrix(1, 0, 0, 1, -54.95, 394);
	opacity: 1;
}
60.78% {
	-webkit-transform: matrix(1, 0, 0, 1, -44.95, 384);
	opacity: 1;
}
74.5% {
	-webkit-transform: matrix(1, 0, 0, 1, -54.95, 394);
	opacity: 1;
}
88.23% {
	-webkit-transform: matrix(1, 0, 0, 1, -44.95, 384);
	opacity: 1;
}
98.03% {
	-webkit-transform: matrix(1, 0, 0, 1, -60.95, 400);
	opacity: 1;
}
98.04%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -60.95, 400);
}
}
@-webkit-keyframes wlby_KF_40 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, -286.15);
	opacity: 1;
}
10% {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 57.85);
	opacity: 1;
}
15% {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 25.85);
	opacity: 1;
}
15.01%, 17.5% {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 25.85);
}
17.52%, 20.02% {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 33.85);
}
20.03%, 22.53% {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 39.85);
}
22.54%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 33.85);
}
}
@-webkit-keyframes wlby_KF_73 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, -46.6, -216.65) rotate(0deg) scale(1, 1);
	-webkit-transform-origin: 117.6px 98.65px;
	opacity: 1;
}
15% {
	-webkit-transform: matrix(1, 0, 0, 1, -42.257, -216.651) rotate(0deg) scale(0.9345, 0.7973);
	-webkit-transform-origin: 117.6px 98.65px;
	opacity: 1;
}
15.01%, 20.01% {
	-webkit-transform: matrix(1, 0, 0, 1, -42.307, -216.651) rotate(0deg) scale(0.9345, 0.7973);
	-webkit-transform-origin: 117.65px 98.65px;
}
20.02%, 25.02% {
	-webkit-transform: matrix(1, 0, 0, 1, -42.702, -216.619) rotate(12.049deg) scale(0.9393, 0.9993);
	-webkit-transform-origin: 117.65px 98.65px;
}
25.03%, 30.03% {
	-webkit-transform: matrix(1, 0, 0, 1, -42.52, -216.396) rotate(-22.074deg) scale(0.8411, 0.9318);
	-webkit-transform-origin: 117.6px 98.7px;
}
30.04%, 35.04% {
	-webkit-transform: matrix(1, 0, 0, 1, -46.6, -216.65) rotate(0deg) scale(1, 1);
	-webkit-transform-origin: 117.6px 98.65px;
}
35.05%, 40.05% {
	-webkit-transform: matrix(1, 0, 0, 1, -42.307, -216.651) rotate(0deg) scale(0.9345, 0.7973);
	-webkit-transform-origin: 117.65px 98.65px;
}
40.06%, to {
	-webkit-transform: matrix(1, 0, 0, 1, -46.6, -216.65) rotate(0deg) scale(1, 1);
	-webkit-transform-origin: 117.6px 98.65px;
}
}
.wlby_69
{
	-webkit-animation-duration: 1.66667s;
	-webkit-animation-name: wlby_KF_82;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, -300.6, -125.3);
	-webkit-transform-origin: 424.65px 230.35px;
	-webkit-animation-timing-function: linear;
}

.wlby_38
{
	-webkit-animation-duration: 1.66667s;
	-webkit-transform: matrix(1, 0, 0, 1, -128.45, -18.3);
	-webkit-transform-origin: 172.45px 142.35px;
}

.wlby_63
{
	-webkit-animation-duration: 1.66667s;
	-webkit-transform: matrix(1, 0, 0, 1, -63.65, -119.4);
	-webkit-transform-origin: 202px 125.75px;
}

.wlby_21
{
	-webkit-animation-duration: 4.25s;
	-webkit-animation-name: wlby_KF_34;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -60.95, 400);
	-webkit-transform-origin: 180.5px 150.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_19
{
	-webkit-animation-duration: 4.25s;
	-webkit-animation-name: wlby_KF_27;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -58.1, -42.9);
	-webkit-transform-origin: 72.45px 62.9px;
	-webkit-animation-timing-function: linear;
}

.wlby_8
{
	-webkit-animation-duration: 5.25s;
	-webkit-animation-name: wlby_KF_8;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -46.95, 154.4);
	-webkit-transform-origin: 291px 250.05px;
	-webkit-animation-timing-function: linear;
}

.wlby_65
{
	-webkit-animation-duration: 1.66667s;
	-webkit-animation-name: wlby_KF_73;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, -46.6, -216.65);
	-webkit-transform-origin: 117.6px 98.65px;
	-webkit-animation-timing-function: linear;
}

.wlby_6
{
	-webkit-animation-duration: 5.25s;
	-webkit-animation-name: wlby_KF_4;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -30.1, 32.4);
	-webkit-transform-origin: 288.5px 308px;
	-webkit-animation-timing-function: linear;
}

.wlby_40
{
	-webkit-animation-duration: 1.66667s;
	-webkit-animation-name: wlby_KF_66;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, -27.6, -13.65);
	-webkit-transform-origin: 93.95px 64.05px;
	-webkit-animation-timing-function: linear;
}

.wlby_78
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -19.47, -22.319);
}

.wlby_12
{
	-webkit-animation-duration: 4.75s;
	-webkit-animation-name: wlby_KF_18;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -16.6, 375.1);
	-webkit-transform-origin: 263px 135px;
	-webkit-animation-timing-function: linear;
}

.wlby_53
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.02, -0.017);
}

.wlby_68
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.01, 0.014);
}

.wlby_37
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -0.004, 0.01);
}

.wlby_44
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, -0.023);
}

.wlby_9
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, -0.015);
}

.wlby_66
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, -0.014);
}

.wlby_64
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, -0.006);
}

.wlby_7
{
	position: absolute;
}

.wlby_5
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
}

.wlby_93
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
}

.wlby_24
{
	-webkit-animation-duration: 0.166667s;
}

.wlby_25
{
	-webkit-animation-duration: 0.166667s;
	display: none;
}

.wlby_51
{
	-webkit-animation-duration: 0.25s;
	display: none;
}

.wlby_45
{
	-webkit-animation-duration: 0.5s;
	display: none;
}

.wlby_47
{
	-webkit-animation-duration: 0.583333s;
}

.wlby_59
{
	-webkit-animation-duration: 0.75s;
	display: none;
}

.wlby_76
{
	-webkit-animation-duration: 0.833333s;
}

.wlby_74
{
	-webkit-animation-duration: 0.833333s;
	display: none;
}

.wlby_42
{
	-webkit-animation-duration: 1.16667s;
}

.wlby_2
{
	-webkit-animation-duration: 1.5s;
}

.wlby_23
{
	-webkit-animation-duration: 1.66667s;
}

.wlby_92
{
	-webkit-animation-duration: 1.66667s;
	position: absolute;
}

.wlby_22
{
	-webkit-animation-duration: 1.75s;
}

.wlby_10
{
	-webkit-animation-duration: 2s;
}

.wlby_18
{
	-webkit-animation-duration: 2.5s;
}

.wlby_28
{
	-webkit-animation-duration: 3.41667s;
}

.wlby_30
{
	-webkit-animation-duration: 3.83333s;
}

.wlby_73
{
	-webkit-animation-duration: 4.25s;
}

.wlby_33
{
	-webkit-animation-duration: 4.25s;
	display: none;
}

.wlby_13
{
	-webkit-animation-duration: 4.33333s;
}

.wlby_81
{
	-webkit-animation-duration: 4.66667s;
}

.wlby_16
{
	-webkit-animation-duration: 4.75s;
}

.wlby_84
{
	-webkit-animation-duration: 5s;
}

.wlby_87
{
	-webkit-animation-duration: 5.33333s;
}

.wlby_1
{
	-webkit-animation-duration: 6.75s;
}

.wlby_61
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0.001);
}

.wlby_20
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0.011);
}

.wlby_34
{
	-webkit-animation-duration: 0.333333s;
	-webkit-animation-name: wlby_KF_51;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
	-webkit-transform-origin: 240.05px 321.05px;
	-webkit-animation-timing-function: linear;
}

.wlby_39
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0.007, 0);
}

.wlby_58
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0.01, -0.01);
}

.wlby_41
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0.012, 0);
}

.wlby_49
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 0.015, 0.015);
}

.wlby_15
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 14.147, 7.885);
}

.wlby_77
{
	-webkit-animation-duration: 0.75s;
	-webkit-animation-name: wlby_KF_86;
	-webkit-transform: matrix(1, 0, 0, 1, 19.45, 22.3) scale(0.5116, 0.5116);
	-webkit-transform-origin: 0px 0px;
	-webkit-animation-timing-function: linear;
}

.wlby_14
{
	-webkit-animation-duration: 2.41667s;
	-webkit-animation-name: wlby_KF_21;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 42.664, 315.638) rotate(-55.159deg) scale(1.1926, 1.1926);
	-webkit-transform-origin: 23.35px 23.4px;
	-webkit-animation-timing-function: linear;
}

.wlby_29
{
	-webkit-animation-duration: 3.33333s;
	-webkit-animation-name: wlby_KF_40;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 50.9, 33.85);
	-webkit-transform-origin: 191.5px 132.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_36
{
	-webkit-animation-duration: 1.66667s;
	-webkit-animation-name: wlby_KF_62;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, 61.65, -285.85);
	-webkit-transform-origin: 77.35px 52.15px;
	-webkit-animation-timing-function: linear;
}

.wlby_94
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 78.926, 64.25);
}

.wlby_95
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 91.75, 83.512);
}

.wlby_35
{
	-webkit-animation-duration: 1.83333s;
	-webkit-animation-name: wlby_KF_58;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 180.6, -270.2);
	-webkit-transform-origin: 38.5px -10.55px;
	-webkit-animation-timing-function: linear;
}

.wlby_67
{
	-webkit-animation-duration: 1.66667s;
	-webkit-animation-name: wlby_KF_79;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform: matrix(1, 0, 0, 1, 194.55, 103.4);
	-webkit-transform-origin: 22.45px 71.65px;
	-webkit-animation-timing-function: linear;
}

.wlby_11
{
	-webkit-animation-duration: 4.75s;
	-webkit-animation-name: wlby_KF_13;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 285.35, 277.8);
	-webkit-transform-origin: 96.7px 121.3px;
	-webkit-animation-timing-function: linear;
}

.wlby_31
{
	-webkit-animation-duration: 2.91667s;
	-webkit-animation-name: wlby_KF_44;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 362.55, 114.5);
	-webkit-transform-origin: 49.5px 46.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_17
{
	-webkit-animation-duration: 2s;
	-webkit-animation-name: wlby_KF_24;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 402.693, 501.808) scale(2.1542, 2.1542);
	-webkit-transform-origin: 23.3px 23.4px;
	-webkit-animation-timing-function: linear;
}

.wlby_88
{
	position: absolute;
	-webkit-transform:matrix(0.83046,0,0,0.699249,140.302,426.043);
	-webkit-transform-origin: 19.45px 22.3px;
}

.wlby_43
{
	position: absolute;
	-webkit-transform:matrix(0.960312,0.275787,-0.275787,0.960312,40.3485,55.3609);
	-webkit-transform-origin: 29.5px 22.05px;
}

.wlby_48
{
	position: absolute;
	-webkit-transform:matrix(0.99118,0.10524,-0.105057,0.989746,-12.3141,11.0856);
	-webkit-transform-origin: 21.3px 25px;
}

.wlby_56
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-12.3,7.45);
}

.wlby_55
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,-11.25,37.25);
}

.wlby_91
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0.05,0.45);
}

.wlby_90
{
	-webkit-animation-duration: 5.16667s;
	display: none;
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,0.05,0.45);
}

.wlby_46
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,19.1,52.95);
}

.wlby_82
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,42.9,94.05);
}

.wlby_57
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,61.85,-1.95);
}

.wlby_62
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,61.85,24.8);
}

.wlby_60
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,62.7,8.4);
}

.wlby_75
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,303.85,17.05);
}

.wlby_72
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,339.1,570.15);
}

.wlby_85
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,416.85,229.05);
}

.wlby_52
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1.05222,-12.5,22.1999);
	-webkit-transform-origin: 21px 19.15px;
}

.wlby_32
{
	-webkit-animation-duration: 2.16667s;
	-webkit-animation-name: wlby_KF_48;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 1.05);
	-webkit-transform-origin: 240.05px 321.05px;
	-webkit-animation-timing-function: linear;
	opacity: 0;
}

.wlby_80
{
	position: absolute;
	-webkit-transform:matrix(0.511566,0,0,0.511566,19.45,22.3);
	-webkit-transform-origin: 0px 0px;
	opacity: 0;
}

