body {
	font: 14px/1.231 "ƒqƒ‰ƒMƒmŠpƒS Pro W3";
	-webkit-text-size-adjust: 100%;
}

#wrap {
	padding: 10px;
}

section, nav {
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}

h2 {
	font-size: 121%;
	color: #0000FF;
	text-shadow: 1px 1px 2px #CCC;
	margin-bottom: 10px;
}

nav {
/*
	-webkit-border-radius: 8px;
	border-radius: 8px;
*/
	background-color: #0000FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#008CFF), to(#0000FF));
	font-size: 107%;
	width: 310px;
}
nav li {
	text-align: center;
	float: left;

	font-weight: bold;

	border-left: 1px solid #fff;
	text-shadow: -1px -1px 0 rgba( 150, 150, 150, 30 );
}
nav li:first-child {
	border: none;
}
nav a {
	color: #FFFFFF;
	text-decoration: none;
}
nav li a {
	display: block;
	width: 75px;
	padding: 2px 0;
}


/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}